<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>
	{{ linkCSS "main.css" }}
	{{ linkCSS "bootstrap.min.css" }}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/material-wfont.min.css" />
	{{ linkCSS "ripples.min.css" }}
	{{ linkCSS "markdown.css" }}
	{{  linkJS "jquery.min.js" }}
	{{  linkJS "bootstrap.min.js" }}
	{{  linkJS "material.min.js" }}
	{{  linkJS "ripples.min.js" }}
	{{  linkJS "jquery.animate-colors.js" }}

	{{ template "Header" . }}
</head>
<body>

	{{ template "Content" . }}

</body>
