{{ define "Header"}}

{{ end }}

{{ define "Content"}}

<div class="col-md-8 col-md-offset-2">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3><i class="mdi-action-info-outline"></i> このサイトについて</h3>
		</div>
		<div class="panel-body">
			<h3>サイト名: HSP部屋</h3><hr />
			ソース: <a href="https://github.com/mjhd-devlion/hsproom.git">Github - mjhd_devlion/hsproom</a><br />
			公開日: 
			<h3>作者: mjhd</h3><hr />
			<a href="https://twitter.com/mjhd_devlion">Twitter(@mjhd_devlion)</a><br />
			<a href="http://blog.devlion.net">Blog(Devlion Memo)</a>
		</div>
	</div>

</div>

{{ end }}
