{{ define "Header" }}

{{ end }}

{{ define "Content" }}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1><i class="mdi-action-help"></i> ヘルプ</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3><i class="mdi-action-view-headline"></i> 目次</h3>
			</div>
			<div class="panel-body">

			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				語句の説明
			</div>
			<div class="panel-body">
				<h2 id="word_program">プログラム</h2>
					このサイトにおけるプログラムとは、HSPのスクリプトファイルをコンパイルしてできる、axファイル(拡張子がaxで終わるファイル)のことです。このサイトでは、これらのaxファイルを<a href="http://www.onionsoft.net/hsp/v34/doclib/hsp3dish_js.htm">hsp3dish.js</a>によってブラウザ上で遊ぶことができます。

				<h2 id="word_good">いいね!</h2>
					このサイトにおけるいいね!とは、他のユーザが作成した<a href="#word_program">プログラム</a>について、評価したいと思った時にユーザが行うことのできる行為です。いいね!の数が多い順にランキングに掲載されるなど、プログラムの質やアイデアなどを表す値となります。

			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				プログラムを探す
			</div>
			<div class="panel-body">
				<h2>全てのプログラムから探す</h2>
					

				<h2>タイトルを検索する</h2>

				<h2>ユーザ名から探す</h2>

				<h2>いいね!数から探す</h2>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				プログラムを遊ぶ
			</div>
			<div class="panel-body">
				<h2>コメントする</h2>

				<h2>コメントを取り消す</h2>

				<h2>いいね!する</h2>

				<h2>いいね!を取り消す</h2>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				ログイン
			</div>
			<div class="panel-body">

				<h2>プロフィールを確認する</h2>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				プログラムの管理
			</div>
			<div class="panel-body">
				<h2>投稿する</h2>

				<h2>編集する</h2>

				<h2>削除する</h2>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				
			</div>
			<div class="panel-body">
				<h2>投稿する</h2>

				<h2>編集する</h2>

				<h2>削除する</h2>

			</div>
		</div>
	</div>
</div>


{{ end }}
