{{ define "Header" }}

{{ linkJS "jquery.particleground.min.js" }}

<style type="text/css">

.detail {
	margin-bottom: 30px;
}
.twitter-timeline {
	height: 500px;
}

.programs {
	height: 460px;

	overflow: scroll;
}

.program_picture {
	float: none;
}

.new_information {
	height: 460px;

	overflow: scroll;
}

.jumbo {
	position: relative;
}

#jumbo_back {
	position: absolute;

	top:  0;
	left: 0;
	right:0;

	width: 100%;
	height:100%;
}

</style>
{{ end }}

{{ define "Content" }}

<div class="row jumbo">
	<div id="jumbo_back"></div>
	<div class="col-md-6 col-md-offset-3 detail">
		<div class="jumbotron text-center">
			<h2 class="text-primary">HSP部屋へようこそ！</h2>
			<p>ここではユーザの投稿したHSP製プログラムを<b>遊んだり</b>、<b>投稿したり</b>する場です。</p>
			<p>日頃のちょっとした思いつきを、HSPで簡単に公開しましょう。</p>
			<a class="btn btn-primary btn-lg" href="/program/">遊ぶ</a><a class="btn btn-primary btn-lg" href="/program/create/">投稿する</a><a class="btn btn-primary btn-lg" href="/source/create/">作成する</a><br />

			<small>現在、HSP部屋のロゴを募集中です！作っていただける方、Twitter: <a href="https://twitter.com/mjhd_devlion">@mjhd_devlion</a>、または<a href="mailto:mjhd@devlion.net">メールアドレス</a>まで!</small>
		</div>
	</div>
</div>

<div class="row sub_detail">
	<div class="col-md-4 hidden-xs">
		<a class="twitter-timeline" href="https://twitter.com/hashtag/hsproom" data-widget-id="564634329620303872">HSP部屋のツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				新着プログラム
			</div>
			<div class="panel-body programs">
			{{ range .RecentPrograms }}
				{{ if eq .Title "" }}
				{{ else }}
				<div class="program_list_item">
					<div class="program_picture thumbnail">
						<img src="/api/program/thumbnail/?p={{ .ID }}" />
						<br />
					</div>
					<div class="program_content">
						<div class="program_item_heading">
							<span class="h2"><a href="/program/view/?p={{ .ID }}">{{ .Title }}</a></span>
							<span class="small">by <a href="/user/view/?u={{ .UserID }}">{{ .UserName }}</a></span>
						</div>
						<div class="program_item_accessory">
							<span class="played_number"><i class="mdi-av-play-circle-outline"></i>{{ .Play }}</span> 
							<span class="good_number"><i class="mdi-social-mood"></i>{{ .Good }}</span>
							<div class="date text-right">{{ .CreatedAt.Format "Jan _2 3:04:05 PM (Mon)" }}</div>

						</div>
						<p class="program_item_text">{{ markdown (subString .Description 0 150) }}</p>
					</div>
				</div>
				<div class="program_separator"></div>
				{{ end }}
			{{ else }}
				まだプログラムはありません。
			{{ end }}
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				新着情報
			</div>
			<div class="panel-body new_information">
				{{ markdownFile "new_information.md" }}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$("#jumbo_back").particleground({
			dotColor: '#9FD1CC',
			lineColor: '#9FD1CC',
			density: 10000,
			maxSpeedX: 0.2,
			maxSpeedY: 0.2
		});
	});
</script>

{{ end }}
