{{ define "Header" }}

{{ linkJS "jquery.nodoubletap.js" }}

<meta name="viewport" content="width=640, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<style type="text/css">

	* {
		font-size: 30px;
		margin:  0;
		padding: 0;
	}

	small {
		font-size: 20px;
	}
	small a {
		font-size: 20px;
	}

	nav {
		width:  100%;
		height: 100px;

		background: #009587;
		color: #ffffff;
	}

	nav ul {
		height: 100px;

		list-style: none;

		margin:  0;
		padding: 0;
	}

	nav ul li {
		height: 100px;
	}

	.nav_left {
		margin-right: 20px;
	}

	.nav_center {
		height: 100px;

		line-height: 100px;

		margin-left:  auto;
		margin-right: auto;

		text-align: center;
	}

	nav ul li a {
		display: block;

		height: 100px;
		line-height: 100px;

		color: #ffffff;
	}

	nav ul li i {
		line-height: 100px !important;

		font-size: 60px;
	}

	.description_heading {
		width:  100%;

		color: #333;
		background: #ccc;

		margin:  0;
		padding: 10px;

		text-align: center;
	}

	.user_box {
		margin:  20px;
		padding: 20px;
	}

	.indicators {
		height: 80px;
		line-height: 80px;

		text-align: right;

		padding-right: 20px;

		color: #666666;

		float: right;
	}

	.information {
		height: 80px;
		line-height: 80px;

		text-align: left;

		padding-left: 20px;

		float: left;
	}

	.share_box {
		height: 80px;
		line-height: 80px;

		text-align: center;

		margin: 20px;
	}

	.share_box a {
		display: block;

		width: 100%;
		height: 80px;

		line-height: 80px;

		border-bottom: 3px solid #00a194;

		font-size: 30px;
	}

	#virtual_key {
		width: 100%;

		padding: 10px;
	}

	#virtual_key a {
		font-size: 20px;

		margin:  5px;
	}

	#virtual_key .pad a {
		width: 90px;
		height: 65px;

		line-height: 65px;
	}

	#virtual_key .keys a {
		width: 90px;
		height: 65px;

		line-height: 65px;
	}

	#virtual_key .bottom {
		width: 330px;
		margin: 0 auto;
	}

	#virtual_key .bottom a {
		width: 150px;
	}

	.screen_box {
		position: relative;

		width:  640px;
		height: 480px;
	}

	#screen {
		position: absolute;

		top:  0;
		left: 0;
	}

	#screen_overlay {
		position: absolute;

		top:  0;
		left: 0;

		width:  640px;
		height: 480px;
		min-height: 480px;

		background: #000;

		filter:  alpha(opacity=70);
		opacity: 0.7;
		-moz-opacity: 0.7;
	}

	.screen_overlay_log {
		position: absolute;

		top:  0;
		left: 0;

		width:  100%;
		height: 100%;

		padding: 5px;

		color: #fff;

		font-size: 30px;
	}

	.screen_overlay_playbtn {
		position: absolute;

		top:  50%;
		left: 50%;

		margin: -75px 0 0 -75px;
	}

	.screen_overlay_playbtn .btn-fab {
		width:  150px;
		height: 150px;

		font-size: 120px;
	}

</style>

{{ end }}

{{ define "Content" }}


<nav>
	<ul>
		<li class="col-xs-1 nav_left">
			<a href="javascript:history.back();"><i class="mdi-navigation-arrow-back"></i></a>
		</li>
		<li class="col-xs-10 nav_center">
			{{ subString .Program.Title 0 20 }}
		</li>
	</ul>

</nav>

<div class="information">
	<small>by <a href="/user/view/?u={{ .Program.UserID }}">{{ .Program.UserName }}</a>, at {{ .Program.CreatedAt.Format "2006年1月_2日" }}</small>
</div>
<div class="indicators">
	<i class="mdi-av-play-circle-outline"></i>{{ .Program.Play }}
	<a href="javascript:good();" class="btn btn-default btn-raised" ><i class="mdi-social-mood"></i> <span id="good"></span></a> 
</div>

<br clear="both"/>

<div class="screen_box">
	<canvas id="screen" width=640 height=480></canvas>
	<div id="screen_overlay">
		<div class="screen_overlay_log">
		</div>
		<div class="screen_overlay_playbtn">
			<a href="javascript:runProgram();" class="btn btn-primary btn-fab btn-raised mdi-av-play-circle-fill"></a>
		</div>
	</div>
</div>

<div id="virtual_key">
	<div class="row">
		<table class="keys col-xs-6">
			<tr>
				<td></td>
				<td><a  id="key_w" class="btn btn-raised btn-primary">W</a></td>
				<td></td>
			</tr>
			<tr>
				<td><a id="key_a" class="btn btn-raised btn-primary">A</a></td>
				<td><a id="key_s" class="btn btn-raised btn-primary">S</a></td>
				<td><a id="key_d" class="btn btn-raised btn-primary">D</a></td>
			</tr>
			<tr>
				<td><a id="key_z" class="btn btn-raised btn-primary">Z</a></td>
				<td><a id="key_x" class="btn btn-raised btn-primary">X</a></td>
				<td><a id="key_c" class="btn btn-raised btn-primary">C</a></td>
			</tr>
		</table>
		<table class="pad col-xs-6">
			<tr>
				<td></td>
				<td><a id="arrow_up" class="btn btn-raised btn-primary"><i class="mdi-navigation-expand-less"></i></a></td>
				<td></td>
			</tr>
			<tr>
				<td><a id="arrow_left" class="btn btn-raised btn-primary"><i class="mdi-navigation-chevron-left"></i></a></td>
				<td></td>
				<td><a id="arrow_right" class="btn btn-raised btn-primary"><i class="mdi-navigation-chevron-right"></i></a></td>
			</tr>
			<tr>
				<td></td>
				<td><a id="arrow_down" class="btn btn-raised btn-primary"><i class="mdi-navigation-expand-more"></i></a></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="row">
		<div class="bottom">
			<a id="space" class="btn btn-raised btn-primary">SPACE</a>
			<a id="enter" class="btn btn-raised btn-primary">ENTER</a>
		</div>
	</div>
</div>

<div class="description_heading">
	説明
</div>

<div class="description markdown">
	{{ plugin "replaceSourceTag" .Program.Description "" | markdown }}
	<br />
	<div class="share_box">
		<a href="javascript:openTwitter();" class="btn btn-default btn-raised">Twitterでコメントする</a>
	</div>
</div>

<div class="user_box shadow-z-2">
	<div class="list-group">
		<div class="list-group-item">
			<div class="row-picture">
				<img id="profile_icon" class="circle" alt="icon">
			</div>
			<div class="row-content">
				<h4 class="list-group-item-heading"><a href="/user/view/?u={{ .Program.UserID }}">{{ .Program.UserName }}</a></h4>
				<p id="profile" class="list-group-item-text">ここはユーザの紹介文</p>
				<a class="user_detail_link" href="/user/view/?u={{ .Program.UserID }}">詳しく...</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	function setProfile() {
		$.ajax({
			url: "/api/user/info/",
			type: "GET",
			dataType: "json",
			cache: false,
			data: {
				"u": "{{ .Program.UserID }}"
			},
		}).success(function (data, status) {
			$("#profile").text(data.Profile.substring(0, 50) + "...");
			$("#profile_icon").attr("src", data.IconURL);
		}).error(function (data, status, error) {
		});
	}

	function setThumbnail() {
		$("#screen").css({
			"background-image": "url(/api/program/thumbnail/?p={{ .Program.ID }})",
			"background-size" : "640px 480px"
			});
	}

	function updateGoodCount() {
	
		$.ajax({
			type: "GET",
			dataType: "json",
			url: "/api/program/good/count/",
			data: {
				"p": {{ .Program.ID }}
			}
		}).success(function (data) {
			$("#good").text(data.GoodCount);
		}).error(function (data) {
			assertBottom("いいね数の取得に失敗しました。");
		});
	}

	function good() {
		$.ajax({
			type: "POST",
			url:  "/api/program/good/",
			dataType: "json",
			data: {
				"p": "{{ .Program.ID }}"
			}
		}).success(function(data) {
			$(".good_button").attr("href", "#").addClass("disabled");

			updateGoodCount();

			assertBottom("success", "いいね!しました。");
		}).error(function(data) {
			$(".good_button").attr("href", "#").addClass("disabled");
			assertBottom("error", data.responseJSON.Message);
		});
	}

	function openTwitter() {

		var title = encodeURIComponent("{{ .Program.Title }}");
		var hashtags = encodeURIComponent(("hsproom #"+"{{ .Program.Title }}").replace(/[\s\x21-\x2f\x3a-\x40\x5b-\x60\x7b-\x7e]/g, ""));
		var url   = encodeURIComponent(location.href);

		// ユーザ名の取得は後で統一も要検討
		$.ajax({
			url: '/api/user/info/',
			type: "GET",
			dataType: "json",
			data: {
				"u": "{{ .Program.UserID }}"
			}
		}).success(function (data, status) {
			var user = data.ScreenName;

			location = "https://twitter.com/intent/tweet?text="+title+"&amp;amp;url="+url+"&amp;amp;hashtags="+hashtags+"&amp;amp;via="+user;

		}).error(function (data, status, error) {

			location = "https://twitter.com/intent/tweet?text="+title+"&amp;amp;url="+url+"&amp;amp;hashtags="+hashtags;

		});

	}

	function emulateKey(keycode, keyEventName) {

		if (document.createEvent) {
			var e = document.createEvent("KeyboardEvent");

			Object.defineProperty(e, 'keyCode', {
						get : function() {
							return this.keyCodeVal;
						}
			});
			Object.defineProperty(e, 'which', {
						get : function() {
							return this.keyCodeVal;
						}
			});

			
			if (e.initKeyEvent) {
				e.initKeyEvent("key"+keyEventName,true,true,window,false,false,false,false,keycode,0);
			} else if (e.initKeyboardEvent) {
				e.initKeyboardEvent("key"+keyEventName,true,true,window,false,false,false,false,keycode,keycode);
			}

			e.keyCodeVal = keycode;

			document.body.dispatchEvent(e);

		} else if (document.createEventObject) {
			var e = document.createEventObject();
			e.keyCode = keycode;
			document.body.fireEvent("onkey"+keyEventName, e);
		}
	}
	
	function runProgram() {
		runWithFS($("#screen_overlay .screen_overlay_log"));

		$("#screen_overlay .screen_overlay_playbtn").fadeOut("slow");
	}

	function postProgramRun() {
		$("#screen_overlay").hide();
	}

	$(document).ready(function() {

		$("body").nodoubletap();

		$("#arrow_left").bind("touchstart mousedown",  function() {emulateKey(37, "down");});
		$("#arrow_left").bind("touchend mouseup",      function() {emulateKey(37, "up");  });
		$("#arrow_up").bind("touchstart mousedown",    function() {emulateKey(38, "down");});
		$("#arrow_up").bind("touchend mouseup",        function() {emulateKey(38, "up");  });
		$("#arrow_right").bind("touchstart mousedown", function() {emulateKey(39, "down");});
		$("#arrow_right").bind("touchend mouseup",     function() {emulateKey(39, "up");  });
		$("#arrow_down").bind("touchstart mousedown",  function() {emulateKey(40, "down");});
		$("#arrow_down").bind("touchend mouseup",      function() {emulateKey(40, "up");  });
		$("#space").bind("touchstart mousedown",       function() {emulateKey(32, "down");});
		$("#space").bind("touchend mouseup",           function() {emulateKey(32, "up");  });
		$("#enter").bind("touchstart mousedown",       function() {emulateKey(13, "down");});
		$("#enter").bind("touchend mouseup",           function() {emulateKey(13, "up");  });
		$("#key_w").bind("touchstart mousedown",  function() {emulateKey(87, "down");});
		$("#key_w").bind("touchend mouseup",      function() {emulateKey(87, "up");  });
		$("#key_a").bind("touchstart mousedown",  function() {emulateKey(65, "down");});
		$("#key_a").bind("touchend mouseup",      function() {emulateKey(65, "up");  });
		$("#key_s").bind("touchstart mousedown",  function() {emulateKey(83, "down");});
		$("#key_s").bind("touchend mouseup",      function() {emulateKey(83, "up");  });
		$("#key_d").bind("touchstart mousedown",  function() {emulateKey(68, "down");});
		$("#key_d").bind("touchend mouseup",      function() {emulateKey(68, "up");  });
		$("#key_z").bind("touchstart mousedown",  function() {emulateKey(90, "down");});
		$("#key_z").bind("touchend mouseup",      function() {emulateKey(90, "up");  });
		$("#key_x").bind("touchstart mousedown",  function() {emulateKey(88, "down");});
		$("#key_x").bind("touchend mouseup",      function() {emulateKey(88, "up");  });
		$("#key_c").bind("touchstart mousedown",  function() {emulateKey(67, "down");});
		$("#key_c").bind("touchend mouseup",      function() {emulateKey(67, "up");  });


		setProfile();
		setThumbnail();
		updateGoodCount();
	
	});

	var pid = {{ .Program.ID }};
	var steps = "{{ .Program.Steps }}";

	{{ plugin "loadProgram" .Program.Runtime }}

</script>

{{ end }}
