{{ define "Header" }}

<style type="text/css">
	.programlist-more {
		width: 100%;

		text-align: center;
	}
	.options {
		width: 100%;
	}
	.options .btn {
		text-align: left;
	}
</style>
{{ end }}

{{ define "Content" }}

<div class="row">

	<div class="col-md-2">
		<span class="">プログラムを探す</span>
		<div class="btn-group-vertical options">
			<a href="/program/search/?q=&s=c" class="btn btn-default"><i class="mdi-action-query-builder"></i> 作成日</a>
			<a href="/program/search/?q=&s=g" class="btn btn-default"><i class="mdi-social-mood"></i> いいねの数</a>
			<a href="/program/search/?q=&s=n" class="btn btn-default"><i class="mdi-action-translate"></i> 名前の順</a>
		</div>

		<span>人気ランキング</span>
		<div class="btn-group-vertical options">
			<a href="/program/ranking/daily/" class="btn btn-default"><i class="mdi-action-thumb-up"></i> 日間</a>
			<a href="/program/ranking/weekly/" class="btn btn-default"><i class="mdi-action-star-rate"></i> 週間</a>
			<a href="/program/ranking/monthly/" class="btn btn-default"><i class="mdi-action-grade"></i> 月間</a>
			<a href="/program/ranking/alltime/" class="btn btn-default"><i class="mdi-action-stars"></i> 総合</a>
		</div>

		<span>タグ</span>

	</div>

	<div class="col-md-5">
		<!-- GOOD LIST -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3><i class="mdi-social-mood"></i> 人気プログラム</h3>
			</div>
			<div class="panel-body">
				<div class="program_list">
					{{ range .GoodPrograms }}

						{{ if eq .Title "" }}

						{{ else }}
						<div class="program_list_item">
							<div class="program_picture thumbnail">
								<img src="/api/program/thumbnail/?p={{ .Id }}" />
							</div>
							<div class="program_content">
								<div class="program_item_heading">
									<span class="h2"><a href="/program/view/?pid={{ .Id }}">{{ .Title }}</a></span>
									<span class="small">by <a href="/user/view/?u={{ .UserId }}">{{ .User }}</a></span>
								</div>
								<div class="program_item_accessory">
									<span class="played_number"><i class="mdi-av-play-circle-outline"></i>12345</span> 
									<span class="good_number"><i class="mdi-social-mood"></i>{{ .Good }}</span>
									<div class="date text-right">{{ .Created.Format "Jan _2 3:04:05 PM (Mon)" }}</div>

								</div>
								<p class="program_item_text">{{ .Description }}</p>
							</div>
						</div>
						<div class="program_separator"></div>

						{{ end }}

					{{ end }}
					<div class="programlist-more">
						<a href="/program/search/?q=&s=g&p=0" class="btn btn-default btn-raised btn-block">もっと見る...</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="col-md-5">
		<!-- RECENT LIST -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3><i class="mdi-action-query-builder"></i> 新着プログラム</h3>
			</div>
			<div class="panel-body">
				<div class="list-group">
					{{ range .RecentPrograms }}

						{{ if eq .Title "" }}
						{{ else }}
						<div class="program_list_item">
							<div class="program_picture thumbnail">
								<img src="/api/program/thumbnail/?p={{ .Id }}" />
							</div>
							<div class="program_content">
								<div class="program_item_heading">
									<span class="h2"><a href="/program/view/?pid={{ .Id }}">{{ .Title }}</a></span>
									<span class="small">by <a href="/user/view/?u={{ .UserId }}">{{ .User }}</a></span>
								</div>
								<div class="program_item_accessory">
									<span class="played_number"><i class="mdi-av-play-circle-outline"></i>12345</span> 
									<span class="good_number"><i class="mdi-social-mood"></i>{{ .Good }}</span>
									<div class="date text-right">{{ .Created.Format "Jan _2 3:04:05 PM (Mon)" }}</div>

								</div>
								<p class="program_item_text">{{ .Description }}</p>
							</div>
						</div>
						<div class="program_separator"></div>

						{{ end }}

					{{ end }}
					<div class="programlist-more">
						<a href="/program/search/?q=&s=c&p=0" class="btn btn-default btn-raised btn-block">もっと見る...</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{{ end }}
